/*Google Fonts Robot Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Universal styles*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}

/* General Styles*/
.nav, .nav-left, .nav-right, .logo-menu, .search-area form, .icons, .apps-profile, .google-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navbar styles */
.nav{
    height: 65px;
    padding: 8px;
    border-bottom: 1px solid #dcdcdc;
}

.logo-menu{
    padding: 0 30px 0 0;
}

.menu-icon{
    margin: 0 4px;
   
}

.logo-menu img{
    height: 40px;
    width: 40px;
  
}

.logo-text{
    font-size: 22px;
    color: #5f6368;
    padding: 0 0 0 8px;
}

.nav-icon{
    padding: 12px;
    border-radius: 50px;
    color: #5f6367;

}
.nav-icon:hover{
    background-color: #dedede;
    cursor: pointer;
}

.search-area{
    padding: 0 0 0 60px;
    max-width: 1300px;
    width: 1300px;
   
  
}

.search-area form{
    background-color: #f0f2f3;
    display: flex;
    justify-content: flex-start;
    width: 722px;
    border-radius: 8px;
}

.search-area form input{
    background-color:#f0f2f3 ;
    outline: none;
    border: none;
    height: 46px;
    padding: 11px 0;
    font-size: 16px;
    width: 615px;
}

.search-area form button{
    border: none;
    margin: 4px;
    padding: 0 5px;
    border-radius: 50px;
}
.search-area form span{
    border-radius: 50px;
}
.search-icon{
    border-radius: 50px;
    padding: 8px;
    color: #5f6367;
}

.search-icon:hover{
    background-color: #dedede;
    cursor:pointer;
}

.apps-profile{
    padding: 0 0 0 30px;
}

.google-profile{
    margin: 0 4px 0 10px;
    border: 1px solid #dedede;
    border-radius: 8px;
}

.google-logo{
    width: 85px;
    height: 40px;
    padding: 0 0 0 8px;
}
/*Style for container*/
.container{
    display: flex;

}

/*Sidebar styling */
.sidebar{
    padding: 8px 0 0 0;
    width: 280px;
}

.active{
    background-color: #feefc3; 
}

.sidebar-item{
    display: flex;
    align-items:center;
    height: 48px;
    width: 280px;
    padding: 0 0 0 12px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sidebar-item:hover{
    background-color:#f1f3f4 ;
}

.active:hover{
    background-color: #feefc3; 
}

.sidebar-text{
    margin: 0 0 0 20px;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-icon{
    padding: 0 12px;
}

.main-content{
    width: 100%;
    height: calc(100vh - 65px);
}

/*Inactive form styles*/

.inactive-form-container{
    display: flex;
    justify-content: center;
    height: 46px;
    margin: 30px 0 0 0;
    visibility: visible;
   
}
.inactive-form-container .inactive-form{
    display: flex;
    align-items: center;
    min-width: 598px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
/*added modal form input*/
.inactive-form input, .active-form input, .modal form input{
  border: none;
  height: 44px;
  width:100%;
  padding: 0 0 0 16px;
  font-size: 0.95rem;
  font-weight: 400;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}


.inactive-form input:focus, .active-form input:focus, .modal form input:focus{
    outline: none;
}

.inactive-form-icons{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 10px 0 0;
}


.active-form-container{
    display: flex;
    justify-content: center;
   
}

.active-form{
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    min-width: 598px;
    display: none;
}

.note-title{
   display: flex; 
   justify-content: space-between;
   align-items: center;
}

.note-pin{
    padding: 6px;
    border-radius: 50px;
    margin: 0 12px 0 0;
}

.note-pin:hover{
    background-color: #dedede;
    cursor:pointer;
}

.note-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon{
    font-size: 18px;
    padding: 12px;
    margin:0 2px;
    cursor: pointer;
}

.redo-icon, .undo-icon{
    color: #dedede;
}

.close-button{
 background-color: transparent;
 border: none;
 cursor: pointer;
 padding: 12px 24px;
 margin: 0 14px 4px 0;
 border-radius: 5px;
}

.close-button:hover{
 background-color: #f6f6f6;
}

/*Notes styling*/
.notes{
    width: 100%;
    height: 350px;
}

.note{
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.note-header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    
}

.note-content{
    padding: 0 0 0 10px;
}

/*Tool tip styling*/
.tooltip{
    position: relative;
}

.tooltip-text{
    position: absolute;
    left:1%;
    top: 100%;
    font-size: 0.8rem;
    background-color:#323232 ;
    color: #fff;
    opacity: 0.8;
    padding: 5px;
    white-space: nowrap;
    border-radius: 5px;
    z-index: 100;
    visibility: hidden;

}

.tooltip:hover .tooltip-text:hover{
    visibility: visible;
}
/*Modal styling*/

.modal{
position:fixed;
top:50%;
left:0;
background-color: reba(0,0,0,0.5);
width: 100%;
height: 100%;
border: none;
transition: opacity 0.5s ease, visibility 0s 0.5s;
visibility: hidden;

}

.modal-content{
    width: 598px;
    position: relative;
    top: 35%;
    left: 43%;
    transform: translate(-50%, -50%);
    border: none;
    transition: transform 0.5 ease out;
}

.form-container{
    height: 183px;
}

.modal form{
    
    background-color: #ffff;
    border-radius: 10px;
    height: 100%;
}

.open-modal{
    visibility: visible;
    opacity: 1;
    transition: 0.5 ease ;
}